html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

body {
    font-family: var(--secondary-font);
}

.container {
    width: 90%;
    margin: 0 auto;
}