.section-1 {
    width: 100vw;
    height: 120vh;
    background-image: url(../img/roofer-working.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}