@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto+Slab:wght@300;400;700&display=swap');
@import 'common';
@import 'homepage';


:root {
    --main-font: 'Roboto Slab', serif;
    --secondary-font:'Noto Serif', serif;
}